.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#vertlabel { writing-mode: tb-rl;  position: relative; top: 300px;}
#box_column {height: 500px;}
#graph {position: relative; bottom:150px;}
#training_graph {position: relative; bottom:200px;}
#title_section {padding-bottom:0%}
#text_center {position: relative; right:50px}
#page_set_location {position: relative; right: 30px}
#top_row {height: 320px}